body {
  font-family: "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

button {
  border: none;
}

.iconButton {
  background-color: inherit;
  margin: auto;
  border-bottom: 1px solid #f4f4f4;
}

.iconButton :hover {
  cursor: pointer;
  border-bottom: 1px solid #1d609d;
}

.mobileSplit {
  display: grid;
}

.titleBox {
  color: #1d609d;
  font-weight: bold;
}

.page {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.appHeader {
  display: grid;
  grid-template-columns: 2fr auto;
  gap: 2px;
  flex-wrap: stretch;
}

.noteBox {
  align-self: center;
  min-width: auto;
  width: 400px;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: right;
}

.notesH3 {
  margin: auto;
  margin-left: 20px;
  font-weight: bold;
}

.header {
  padding: 10px;
  width: 100%;
  background-color: #1d1d1b;
  color: #fff;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  margin: auto;
  color: #1d1d1b;
  border-bottom: 1.5px solid lightgray;
}

.modalTextArea {
  resize: none;
  font-family: inherit;
  width: 40vw;
  height: 10vh;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid #ccc;
}

.buttonBar {
  width: auto;
  color: #1d1d1b;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.windowClose {
  color: #005ea5;
  font-size: x-large;
  height: 50px;
  width: 25%;
  background-color: inherit;
}

.windowClose :hover {
  color: #66d0f3;
}

.taskButton {
  background-color: #005ea5;
  color: white;
  padding: 5px;
  margin-right: 2px;
  font-size: x-large;
  height: auto;
  width: auto;
}

.taskButton-delete {
  background-color: darkred;
  color: white;
  font-size: x-large;
  padding: 5px;
  margin-right: 2px;
}

.taskButton-delete:disabled {
  display: none;
}

.taskButton:hover {
  background-color: #66d0f3;
  color: #005ea5;
}

.taskButton:disabled {
  display: none;
}

.taskButton-delete:hover {
  background-color: red;
  color: white;
}

.taskButton-check {
  background-color: green;
  color: white;
  padding: 2px;
  margin-right: 2px;
}

.taskButton-check:hover {
  background-color: palegreen;
  color: green;
}

.grid {
  width: 100%;
  padding-bottom: 20px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
}

.row {
  align-items: stretch;
  grid-template-columns: 0.5fr 1fr 3fr 2fr 1fr 0.5fr 1fr;
  gap: 10px;
  row-gap: 5px;
  margin-bottom: 15px;
  display: grid;
}

.rowHeader {
  align-items: stretch;
  grid-template-columns: 0.5fr 1fr 3fr 2fr 1fr 0.5fr 1fr;
  gap: 5px;
  margin-bottom: 15px;
  display: grid;
}

.cell {
  text-align: center;
  background-color: white;
}

.cellHeader {
  justify-content: center;
  text-align: center;
  font-size: x-large;
  background-color: #005ea5;
  color: white;
  height: 80px;
}

.validation-text {
  color: red;
  font-weight: bold;
}

.iconG {
  text-align: center;
  font-size: xx-large;
  margin-top: 10px;
}

.footerStyle {
  min-height: 10%;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: lightslategray;
  margin: 0 auto;
  width: 100%;
  background-color: #ced1dc;
  color: var(--color--font);
}

.footBar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 10%;
}

p.mobile-only {
  display: none;
}

/* Mobile friendly styling */

@media (max-width: 768px) {
  .rowHeader {
    grid-template-columns: 1fr;
  }

  .mobileSplit {
    min-width: 290px;
    max-width: auto;
  }

  .buttonBar {
    display: flex;
    flex-direction: row;
  }

  .row {
    margin-top: 10px;
    padding: 2px;
    grid-template-columns: 1fr;
  }

  .cell {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .cell[data-label]::before {
    content: attr(data-label);
    font-weight: bold;
    margin-bottom: 4px;
    color: #555;
  }

  .rowHeader {
    display: none;
  }

  p.mobile-only {
    display: inline;
  }

  .noteBox {
    display: none;
  }
}
