body {
  font-family: "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #333;
  background-color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.iconButton {
  border: none;
  background-color: inherit;
  color: #f4f4f4;
  text-align: end;
}

.iconButton :hover {
  cursor: pointer;
  background-color: #1d609d;
}

.mobileSplit {
  display: grid;
}

.titleBox {
  color: #1d609d;
  font-weight: bold;
}

.page {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.appHeader {
  position: relative;
  display: grid;
  color: white;
  grid-template-columns: 2fr auto;
  gap: 2px;
  flex-wrap: stretch;
  z-index: 1;
}

.noteBox {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.notesH3 {
  margin: auto;
  font-weight: bold;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #1d1d1b;
  color: #fff;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  margin: auto;
  color: #1d1d1b;
  border-bottom: 1.5px solid lightgray;
}

.modalTextArea {
  resize: none;
  font-family: inherit;
  width: 40vw;
  height: 10vh;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid #ccc;
}

.buttonBar {
  width: 30%;
  color: #1d1d1b;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 10px;
}

.buttonBarCell {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.buttonBarCell p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
}
.windowClose {
  color: #005ea5;
  font-size: x-large;
  height: 50px;
  width: 25%;
  background-color: inherit;
  border: none;
}

.windowClose :hover {
  color: #66d0f3;
}

.taskButton {
  background-color: white;
  border: 1px solid #005ea5;
  color: #005ea5;
  padding: 5px;
  margin-right: 2px;
  font-size: x-large;
  height: auto;
  min-width: 8rem;
}

.taskButton-fill {
  border: none;
  background-color: #005ea5;
  color: white;
  padding: 5px;
  margin-right: 2px;
  font-size: x-large;
  height: auto;
  min-width: 8rem;
}
.taskButton-delete {
  background-color: white;
  border: 1px solid darkred;
  color: darkred;
  font-size: x-large;
  padding: 5px;
  margin-right: 2px;
  min-width: 8rem;
}

.taskButton-delete:disabled {
  display: none;
}

.taskButton-fill:hover,
.taskButton:hover {
  background-color: #66d0f3;
  color: #005ea5;
}

.taskButton:disabled {
  display: none;
}

.taskButton-delete:hover {
  background-color: red;
  color: white;
}

.taskButton-check {
  background-color: white;
  border: 1px solid green;
  color: green;
  padding: 5px;
  margin-right: 2px;
  min-width: 8rem;
}

.taskButton-check:hover {
  background-color: palegreen;
  color: green;
}

.splitPage {
  display: flex;
  flex-direction: row;
  gap: 8%;
}

.grid {
  width: 100%;
  padding-bottom: 20px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
}

.row {
  background-color: white;
  border-bottom: 2px solid lightgray;
}

.gridButtonBar {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-bottom: 20px;
}

.rowHeader {
  background-color: #005ea5;
  align-items: stretch;
  grid-template-columns: 0.5fr 1fr 3fr 2fr 1fr 0.5fr 1fr;
  gap: 5px;
  margin-bottom: 15px;
  display: grid;
}

.cell {
  display: flex;
  flex-direction: row;
  align-items: top;
  text-align: left;
  gap: 5px;
}

.cell p {
  margin: 0;
  margin-bottom: 5px;
  align-self: center;
}

.cell svg {
  margin: 0;
  margin-bottom: 5px;
  align-self: center;
}

.cellHeader {
  justify-content: center;
  text-align: center;
  font-size: x-large;
  background-color: #005ea5;
  color: #f4f4f4;
  height: 80px;
}

.validation-text {
  color: red;
  font-weight: bold;
}

.iconG {
  text-align: center;
  font-size: xx-large;
  margin-top: 10px;
}

.footerStyle {
  min-height: 10%;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: lightslategray;
  margin: 0 auto;
  width: 100%;
  background-color: #ced1dc;
  color: var(--color--font);
}

.footBar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 10%;
}

/* Mobile friendly styling */

@media (max-width: 768px) {
  .rowHeader {
    grid-template-columns: 1fr;
  }

  .mobileSplit {
    min-width: 290px;
    max-width: auto;
  }

  .buttonBar {
    display: flex;
    flex-direction: column;
  }

  .row {
    margin-top: 10px;
    padding: 2px;
  }

  .cell {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .rowHeader {
    display: none;
  }

  .noteBox {
    display: none;
  }
}
