body {
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.header {
  padding: 10px;
  background-color: black;
  color: #fff;
}

.buttonBar {
  background-color: white;
  color: black;
  margin: 20px;
  flex-direction: row;
}

.taskButton {
  background-color: #005ea5;
  color: white;
  padding: 5px;
  margin-right: 5px;
}

.taskButton-delete {
  background-color: darkred;
  color: white;
  padding: 5px;
  margin-right: 5px;
}

.taskButton:hover {
  background-color: green;
  color: white
}

.taskButton:disabled {
  background-color: grey;
  color: white
}

.taskButton-delete:hover {
  background-color: red;
  color: white
}

.grid{
  width: 85%;
  justify-self: center;
}

.row {
  align-self: center;
  color: black;
  margin: 2px;
  display: flex;
  flex-direction:row;
}

.cell {
  flex-wrap: wrap;
  background-color: white;
  width: 15%;
  display: flex;
  border: 1px solid #333;
  padding: 2px;
  margin-right: 5px;
}

.cell-desc {
  flex-wrap: wrap;
  background-color: white;
  width: 40%;
  display: flex;
  border: 1px solid #333;
  padding: 2px;
  margin-right: 5px;
}

.cell-id {
  flex-wrap: wrap;
  background-color: white;
  width: 10%;
  display: flex;
  border: 1px solid #333;
  padding: 2px;
  margin-right: 5px;
}

.validation-text {
  color: red;
  font-weight: bold;
}
